*{
    margin: 0;
    padding: 0;
}

.navbar
{
    display: flex;    
}
.logo
{
    margin-top: 45px;
    margin-left: 100px;
    width: 25rem;
    height: 298.375rem;
}
.nav-items
{
    color: var(--1st, #212832);
    font-size: 1.0625rem;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
    margin-left: 4rem;
}

.sign-up
{
    border: 1px solid black;
    height: 2rem;
    background-color: transparent;
}